body {
  background-color: black;
}

#content {
  min-width: 420px;
  max-width: 550px;
  width: 50%;
  margin-left: 25%;
}

img {
  border: 5px solid white;
  width: 100%;
}

.text {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
}